@CHARSET "UTF-8";
body {
	background-color: #eee;
	font-family: 'Open Sans', sans-serif;
}

.gap-top-10
{
	margin-top : 10px;
}
.gap-top-20
{
	margin-top : 20px;
}
.gap-ver-10
{
	margin-top : 10px;
	margin-bottom : 10px;
}
.gap-ver-20
{
	margin-top : 20px;
	margin-bottom : 20px;
}

.gap-top-45 {
	margin-top : 45px;
}
.gap-bottom-10
{
	margin-bottom : 10px;
}
.gap-bottom-20
{
	margin-bottom : 20px;
}

ul.rider-list {
	list-style : none;
}
.rider-list li {
	padding : 15px;
	border-bottom : 1px solid #DDD;
}
.rider-list li:last-child {
	border-bottom : none;
}
.rider-list .rider-name {
	text-transform : capitalize;
}
.vehicle-details .row {
	padding : 5px 0px;
}
.compaign-bar .thumbnail {
	height : 100px;
}

hr {
	border-top : 1px solid #DDD;
}
.hr {
	border-top : 1px solid #DDD;
}

.rider-list .img-container
{
	height: 85px;
  	width: 85px;
  	overflow: hidden;
}
.rider-list .img-container img {
	top: -5px;
  position: relative;
  left: -6px;
}
.site-nav .dropdown-menu {
	min-width : 120px;
}
.cursor-pointer {
	cursor: pointer;
}

.loading {
	font-size : 50px;
	animation : 2s linear 0s normal none infinite running loading;
}
@keyframes loading {
	0% {
	   	-webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	}
	100% {
	    -webkit-transform: rotate(359deg);
	    -moz-transform: rotate(359deg);
	    -ms-transform: rotate(359deg);
	    -o-transform: rotate(359deg);
	    transform: rotate(359deg);
	}
}

.bl {
	border-left : 1px solid #DDD;
}
.br {
	border-right : 1px solid #DDD;
}
.black-link a{
	color : #333 !important;
}