@CHARSET "UTF-8";
body {
	font-family: 'Open Sans', sans-serif;
}

.gap-top-10
{
	margin-top : 10px;
}
.gap-top-20
{
	margin-top : 20px;
}
.gap-top-30
{
	margin-top : 30px;
}
.gap-top-40
{
	margin-top : 40px;
}
.gap-top-45 
{
	margin-top : 45px;
}
.gap-bottom-20
{
	margin-bottom : 20px;
}
.gap-bottom-30
{
	margin-bottom : 30px;
}
.gap-ver-10
{
	margin-top : 10px;
	margin-bottom : 10px;
}
.gap-ver-20
{
	margin-top : 20px;
	margin-bottom : 20px;
}
.gap-ver-30
{
	margin-top : 30px;
	margin-bottom : 30px;
}
.gap-ver-40
{
	margin-top : 40px;
	margin-bottom : 40px;
}
.gap-bottom-10
{
	margin-bottom : 10px;
}
.gap-bottom-20
{
	margin-bottom : 20px;
}
.app-container {
	min-height : 700px;
}

ul.rider-list {
	list-style : none;
}
.rider-list li {
	padding : 15px;
	border-bottom : 1px solid #DDD;
}
.rider-list li:last-child {
	border-bottom : none;
}
.rider-list .rider-name {
	text-transform : capitalize;
}
.vehicle-details .row {
	padding : 5px 0px;
}
.compaign-bar .thumbnail {
	height : 100px;
}

hr {
	border-top : 1px solid #DDD;
}
.hr {
	border-top : 1px solid #DDD;
}

.rider-list .img-container
{
	height: 85px;
  	width: 85px;
  	overflow: hidden;
}
.rider-list .img-container img {
	top: -5px;
  position: relative;
  left: -6px;
}
.site-nav .dropdown-menu {
	min-width : 120px;
}
.cursor-pointer {
	cursor: pointer;
}

.loading {
	font-size : 50px;
	animation : 2s linear 0s normal none infinite running loading;
}
@keyframes loading {
	0% {
	   	-webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	}
	100% {
	    -webkit-transform: rotate(359deg);
	    -moz-transform: rotate(359deg);
	    -ms-transform: rotate(359deg);
	    -o-transform: rotate(359deg);
	    transform: rotate(359deg);
	}
}

.bl {
	border-left : 1px solid #DDD;
}
.br {
	border-right : 1px solid #DDD;
}
.black-link a{
	color : #333 !important;
}

/*Google autocomplete css START*/
.pac-container::after {
	background-image : none !important;
}
.pac-item {
	line-height : 35px;
	padding-left : 10px;
}
.pac-icon {
	background-image : none !important;
	display:none;
}
/*Google autocomplete css END*/

.fa-round {
	border: 1px solid;
	border-radius: 50px;
	height : 100px;
	width : 100px;
	padding : 20px;
}
.fa-8x {
	font-size : 8em;
}
.fa-shield {
	color : #FFD740;	
}
.fa-users {
	color : #B4DCF3;'
}
.fa-leaf {
	color :#75C176;'
}
.fa-money {
	color : #4DB6AC;
}

.info-section {
	min-height : 250px;
	padding : 30px;
}
.info-section .info-text {
	line-height : 30px;
}
.app-footer {
	background-color : #3EDDC9;
	padding : 50px 0px;
	color : #FFFFFF;
}
.app-footer a{
	color : #FFFFFF;
}
.app-footer .border-left {
	border-left : 1px solid #39C7B5;
}

.app-footer-second {
	padding : 20px 0px;
	background-color : #FAFAFA;
	color : #B2B2B2;
}
.app-footer-second a{
	color : #B2B2B2;
}