@CHARSET "UTF-8";
.form-control 
{
	height : 43px;
}

.form-group .control-label	 
{
	font-size : 16px;
}

.btn 
{
	padding : 10px 12px;
	font-size : 16px;
}

.form-inlable i:not(.glyphicon-ok):not(.glyphicon-remove):not(.glyphicon-refresh){
  position: absolute;
  top: 13px;
  left: 25px;
  font-size: 1.3em;
  color: #BDBDBD;
}
.form-inlable .form-control {
	padding : 6px 12px 6px 35px;
}

.message.panel.panel-default {
	border-color : #E7E7E7;	
}
.message.panel > .panel-body {
	background-color : #E7E7E7;	
}
